
a:link, a:visited {
    color: black;
    font-size: 20px;
}

a:hover, a:active {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.jumbotron#top {
    background: url("kuvat/havut.jpg");
    background-position: center;
    background-size: cover;
}

.nimi{
    font-size: 500%;
    color: azure;
    margin-right: 0.5em;
    text-align: right;
    font-family: 'Happy Monkey', cursive;
    text-shadow: 2px 2px 4px #000000
}

.container#cards {
    align-items: center;
    margin-top: 3em;
}

.jumbotron#cv {
    background-color: rgba(46, 71, 50, 0.623);
    margin: 3em 0em 3em 0em;
    color: black;
    align-items: center;
}

.container#contact {
    align-items: center;
    margin-bottom: 5em;
  }
  
  .image {
    display: block;
    width: 8em;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 14em;
    transition: .5s ease;
    background-color: #39664c;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }