@media screen and (max-width:1960px) {

.li {
    font-size: 5px;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: black;
}


.jumbotron#top {
    background: url("kuvat/havut.jpg");
    background-position: center;
    background-size: cover;
}

.nimi {
    font-size: 500%;
    color: azure;
    margin-right: 0.5em;
    text-align: right;
    font-family: 'Happy Monkey', cursive;
    text-shadow: 2px 2px 4px #000000
}


.jumbotron#cv {
    background-color: rgba(46, 71, 50, 0.623);
    margin: 3em 0em;
    align-items: center;
}

.container#contact {
    align-content: center;
    margin-bottom: 5em;
  }

.image {
    display: block;
    width: 3em;
    height: auto;
}
  
.text {
    color: black;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
}
@media screen and (max-width: 480px) {
   

    .nimi {
        font-size: 2em;
    }

    .container#contact {
        display: flex;
        flex-direction: column;
        
        }
}
  
@media screen and (max-width: 320px){
  body {
    width: 320px;
  }
}