body {
    background-color: black;
}
  
.jumbotron {
    background: url("kuvat/havut.jpg");
    background-position: center;
    background-size: cover;
}

.nimi{
    font-size: 500%;
    color: azure;
    margin-right: 0.5em;
    text-align: right;
    font-family: 'Happy Monkey', cursive;
    text-shadow: 2px 2px 4px #000000
}

.container {
    align-items: center;
    
}