body {
    background-color: rgb(21, 99, 201);
}
  
div.transbox {
    margin: 100px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
}
  
div.transbox p {
    margin: 90%;
    font-weight: bold;
    color: #000000;
}
.jumbotron {
    background: url("kuvat/maisema.jpg");
    background-position: center;
    background-size: cover;
}
.display-4{
    text-align: center;
}