body {
    background-image: url('kuvat/background.jpg');
    background-attachment: fixed;
}
#main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#info {
    display: flex;
    gap: 0px;
    justify-content: space-evenly;
}

#info2, #info3, #info4, #info5, #info6, #info7 {
    height: auto;
    background-color: rgba(158, 112, 98, 0.849);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 35px;
    padding: 10px;
    
}

#history, #geography, #nature, #economy, #culture, #sports, #copyt {
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgba(158, 112, 98, 0.849);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 35px;
    padding: 10px;
    
}

#header {
    border-style: solid;
    font-family: "Trirong", serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;
}

img.kroatianlippu {
    width: 220px;
    float: left;
    margin: 40px 10px 10px 10px;
}
img.kreikanlippu {
    width: 220px;
    float: left;
    margin: 20px 10px 10px 10px;
}
img.turkinlippu {
  width: 220px;
  float: left;
  margin: 20px 10px 10px 10px;
}
img.cathedral {
    width: 250px;
    float: left;
    margin: 10px 10px 10px 10px;
}
img.waterfall {
    width: 400px;
    float: right;
    margin: 10px 10px 10px 10px;
}
img.football {
    width: 150px;
    float: right;
    margin: 0px 10px 10px 10px;
}

.navbar {
    display: block;
    list-style-type: none;
    background-color: black;
}
ul {
    list-style-type: none;
    margin: 7px;
}
li {
    display: inline-flex;
}

.navbutton {
    display: flex;
    border-width: 0px;
    text-decoration: transparent;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
a:link, a:visited {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(153, 67, 40);
    color: white;
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }
  .navbar a {
    display: flex;
    border-width: 0px;
    text-decoration: transparent;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    display: flex;
    border-width: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    margin: 0;
    background-color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(153, 67, 40);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
